/**
 * AbilityIcon styles
 */

.ability-icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.ability-icon--fallback {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #333;
  border-radius: 4px;
  font-size: 0.8em;
  color: #888;
}
